::-webkit-scrollbar {
	width: 10px;
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: linear-gradient(to top, #485563, #29323c);
}

::-webkit-scrollbar-track {
	background-color: #000;
	border-radius: 10px;
	background: linear-gradient(
		to top,
		#201c29,
		#201c29 1px,
		#100e17 1px,
		#100e17
	);
}

html {
	scroll-behavior: smooth;
}

#main-background {
	background-color: #191919;
	background-image: linear-gradient(to top, #8e9eab, #99aab8, #8e9eab);
}

.cushioned {
	margin: 0.1rem !important;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.max-width {
	width: 100%;
}

.no-top-border-radius {
	border-radius: 0 0 0.2rem 0.2rem !important;
}

.no-bottom-border-radius {
	border-radius: 0.2rem 0.2rem 0 0 !important;
}

.container-center {
	text-align: center !important;
}

.center-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro-text {
	text-align: center !important;
	color: #00ffc8 !important;
	font-size: 5em !important;
}

.sub-intro-text {
	color: #ffffff !important;
	font-size: 1.25em !important;
}

.sub-intro-text-black {
	color: #000000 !important;
	font-size: 1.25em !important;
}

.image-brightness {
	filter: brightness(60%) !important;
}

.transparent {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.semi-black-transparent {
	background-color: rgba(0, 0, 0, 0.45) !important;
	border: none !important;
	box-shadow: none !important;
}

@media only screen and (max-width: 1024px) {
	.center-overlay {
		position: initial;
		top: initial;
		left: initial;
		transform: initial;
	}
}
